
@{
    ViewBag.Title = "ChooseInsurance";
}


<style>

    span {
        margin: 4rem;
    }

    .insurance-type {
        box-shadow: 0px 7px 41px -4px black;
        padding: 2rem;
        border-radius: 2rem;
        margin: 2rem 4rem;
        width: 25rem;
        
    }

        .insurance-type:hover {
            box-shadow: 0px 7px 41px -4px blue;
        }

    body {
        background-color: darkgray;
    }

    

    h1 {
        color: whitesmoke;
        font-weight: bold;
        font-family: 'Segoe UI',Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    hr {
        color: ghostwhite;
    }

</style>


<button class="btn btn-primary" style="margin-top:2rem;margin-bottom:1rem;margin-left:1rem;">
    @Html.ActionLink("《 Go Back", "FillCustomerDetails", new { area = "" }, new { @style = "font-size:14px; color:white;" })
</button>
<hr">
    <h1>Choose Insurance Type</h1><hr style="margin-bottom:3rem; ">

    <section>

        <div class="container glyphicon-align-center">
             <div class="row justify-content-center">

                <div class="card insurance-type">
                    <img src="../images/healthcare.png" class="card-img-top">
                    <div class="card-body">
                        <a href="@Url.Action("HealthInsurance", "User")" class="btn btn-success btn-block btn-lg"  style="margin-top:2.5rem;">Health Insurance »</a>
                    </div>
                </div>

                <div class="card insurance-type">
                    <img src="../images/travelinsurancenew.svg" class="card-img-top">
                    <div class="card-body">
                        <a href="@Url.Action("TravelInsurance", "User")" class="btn btn-warning btn-block btn-lg" style="margin-top:4rem"> Travel Insurance »</a>
                    </div>
                </div>

                <div class="card insurance-type">
                    <img src="../images/lifeinsurance.jpg" class="card-img-top">
                    <div class="card-body">
                        <button class="btn btn-danger btn-block btn-lg" style="margin-top:6rem">Life Insurance »</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="card insurance-type">
                    <img src="../images/automobilenew.jpg" class="card-img-top">
                    <div class="card-body">
                        <a href="@Url.Action("AutomobileInsurance", "User")" class="btn btn-primary btn-block btn-lg" style="margin-top:1rem"> Auto Insurance »</a>
                    </div>
                </div>

                <div class="card insurance-type">
                    <img src="../images/retirementplannew.png" class="card-img-top">
                    <div class="card-body">
                        <a href="@Url.Action("PensionPlans", "User")" class="btn btn-success btn-block btn-lg" style="margin-top:2.5rem;">Pension Plans »</a>
                    </div>
                </div>

                <div class="card insurance-type">
                    <img src="~/images/homeinsurancenew.png" class="card-img-top">
                    <div class="card-body">
                        <a href="@Url.Action("HomeInsurance", "User")" class="btn btn-dark btn-block btn-lg" style="margin-top:1rem"> Home Insurance »</a>
                    </div>
                </div>
            </div>
                
        </div>

        @*card insurance-type{
            ajax(
               method
                if (success)
                 {

                   }
            else{
            console.error();
            }
            )
            }*@


    </section>

