
@{
    ViewBag.Title = "UserProfilePage";
}

@*<div>
        <h3>Name : @ViewBag.FirstName @ViewBag.LastName</h3>
    </div>*@

@*<div>
        @Html.ActionLink("Buy Insurance", "FillCustomerDetails")
    </div>*@

<style>

    body {
        background-color: darkgray;
    }

    h1 {
        color: darkblue;
        font-weight: bold;
        font-family: 'Segoe UI',Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    hr {
        color: ghostwhite;
    }

</style>


<section>

    <div class="container-fluid">
        <hr><h1>User Dashboard</h1><hr style="margin-bottom:3rem">

        <div class="row">
            <div class="col-md-12 col-xl-4">

                <div class="card" style="border-radius: 15px; box-shadow: 0px 7px 30px -4px black;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4">
                            <img src="~/images/profile.png"
                                 class="rounded-circle img-fluid" style="width: 160px;" />
                        </div>
                        <h3 class="mb-2">@ViewBag.FirstName @ViewBag.LastName</h3>
                        <p>
                            Username :<strong>
                                @ViewBag.Username
                            </strong>
                        </p>

                        @*<button type="button" class="btn btn-primary btn-rounded btn-lg">

                                        @Html.ActionLink("LogOut", "LogoutUser", "LoginRegister", new { area = "" }, new { @style = "font-size:16px; color:white;" })

                            </button>*@
                        <hr>
                        <div class="d-flex justify-content-between text-center mb-5" style="margin-top:4rem; ">

                            <div>
                                <button type="button" class="btn btn-success btn-rounded btn-lg">

                                    @Html.ActionLink("Your Insurances »", "YourInsurances", "User", new { area = "" }, new { @style = "font-size:16px; color:white;" })
                                </button>
                            </div>
                            <div class="px-3">
                                <button type="button" class="btn btn-primary btn-rounded btn-lg">

                                    @Html.ActionLink("Buy Insurance »", "FillCustomerDetails", "User", new { area = "" }, new { @style = "font-size:16px; color:white;" })

                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger btn-rounded btn-lg">

                                    @Html.ActionLink("LogOut »", "LogoutUser", "LoginRegister", new { area = "" }, new { @style = "font-size:16px; color:white;" })

                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script>

    window.onload = function () {
                       document.getElementById('CurrentRoleId').style.visibility = "hidden";
                       document.getElementById('nav-logout').style.visibility = "visible";
    }

    document.querySelector('#nav-logout').addEventListener('click', () => {
        window.location.href = '/LoginRegister/LogoutUser';
    });

</script>
