@model IEnumerable<MiniProject_InsuranceManagementSystem.Models.Insurance>

@{
    ViewBag.Title = "Index";
}

<style>
  

    #search-bar {
        width: 40rem;
        height: 3.5rem;
        padding: 2rem 2rem 2rem 1rem;
        border-width: 0.1rem;
        color: black;
        font-size: medium;
        border-color: green;
        border-radius: 0.5rem;
    }

    hr {
        color: ghostwhite;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #002d72;
        color: white;
    }
</style>

<hr>
<h1 style="color:white; text-align:center; font-weight:bold;">List of Available Policies</h1>
<hr>

@using (Html.BeginForm("Index", "Visitor"))
{

    <div style="text-align:center">
        <input type="search" id="search-bar" placeholder="Search Insurance...." name="userChoice" value="@ViewBag.insuranceSearched" />
        <input type="submit" value="Search" class="btn btn-success" style="height:4rem" />
    </div>
}

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover" style="box-shadow: 0px 7px 41px -4px black; margin-top:4rem ">
        <thead style="background-color: #002d72; color:whitesmoke; font-size:medium">
            <tr>
                <th style="padding: 2rem">
                    Insurance Name
                </th>
                <th style="padding: 2rem">
                    Insurance For
                </th>

                <th style="padding:2rem 2rem 2rem 0">
                    Premium (Rs)
                </th>
                <th style="padding: 2rem 2rem 2rem 0">
                    Insurance Provider
                </th>
                <th style="padding: 2rem ">
                    Released Date
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>

                <tr style="margin:1rem;">
                    <td style="padding:2rem;font-weight:bold;font-size:medium">
                        @Html.DisplayFor(modelItem => item.InsuranceType)
                    </td>
                    <td style="padding:2rem;">
                        @Html.DisplayFor(modelItem => item.SubType)
                    </td>
                    <td style="padding:2rem;">
                        @Html.DisplayFor(modelItem => item.YearlyPremium)
                    </td>
                    <td style="padding:2rem;">
                        @Html.DisplayFor(modelItem => item.InsuranceProvider)
                    </td>
                    <td style="padding:2rem;">
                        @item.ReleaseDate.ToShortDateString()
                    </td>
                    <td style="padding:2rem;">
                        <button type="button" class="btn btn-danger btn-rounded btn-block">

                            @Html.ActionLink("Purchase »", "LoginUser", "LoginRegister", new { area = "" }, new { @style = "color:white;" })

                        </button>
                    </td>

                </tr>

            </tbody>
        }

    </table>
}

else
{
<br>
<div style="text-align:center;margin-top:2rem">
    <h2 style="color:#ce0606; text-align:center; font-weight:bold; background-color:white; display:inline;padding:1rem 2rem; border-radius:1rem">No Policy Available !</h2>
</div>
}



